# ignore venv, python cache, and IDE files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
logs/
.env
data/
checkpoints/
# logs/
